@page "/admin/players"
@attribute [Authorize(Roles = "admin")]
@using Mercurius.LAN.Web.Models.Participants
@using Mercurius.LAN.Web.DTOs.Participants.Players
@using Mercurius.LAN.Web.Components.Shared
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
<PageTitle>Players Admin</PageTitle>

<div class="admin-container">
    <div class="admin-header">
        <h2>Manage Players</h2>
    </div>

    <div class="search-bar-container">
        <CustomAutocomplete @ref="_autoCompleteComponent" TItem="UpdateAndCreatePlayerFormDTO" Items="_displayPlayers" ItemLabel="player => player.Username" OnSelected="OnPlayerSelected" Placeholder="Search Players" />
    </div>

    <EditForm EditContext="_editContext" class="needs-validation" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />

        <div class="form-container">
            <h2>@(_isCreateMode ? "Create Player" : "Update Player")</h2>
            <div class="horizontal-layout">
                <div class="form-section">
                    <h3>Personal information</h3>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <InputText id="username" class="form-control" @bind-Value="_selectedPlayer.Username" />
                        <ValidationMessage For="@(() => _selectedPlayer.Username)" />

                    </div>

                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <InputText id="firstname" class="form-control" @bind-Value="_selectedPlayer.Firstname" />
                        <ValidationMessage For="@(() => _selectedPlayer.Firstname)" />

                    </div>

                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <InputText id="lastname" class="form-control" @bind-Value="_selectedPlayer.Lastname" />
                        <ValidationMessage For="@(() => _selectedPlayer.Lastname)" />

                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="_selectedPlayer.Email" disabled="@(!_isCreateMode)" />
                        <ValidationMessage For="@(() => _selectedPlayer.Email)" />

                    </div>
                </div>
                <br />
                <div class="form-section">
                    <h3>Platform IDs</h3>
                    <div class="form-group">
                        <label for="discordId">Discord ID <span class="platform-icon discord-icon"></span></label>
                        <InputText id="discordId" class="form-control" @bind-Value="_selectedPlayer.DiscordId" />

                    </div>

                    <div class="form-group">
                        <label for="steamId">Steam ID <span class="platform-icon steam-icon"></span></label>
                        <InputText id="steamId" class="form-control" @bind-Value="_selectedPlayer.SteamId" />
                    </div>

                    <div class="form-group">
                        <label for="riotId">Riot ID <span class="platform-icon riot-icon"></span></label>
                        <InputText id="riotId" class="form-control" @bind-Value="_selectedPlayer.RiotId" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="form-actions-section">
                    <button type="submit" class="btn btn-primary">@(_isCreateMode ? "Create Player" : "Update Player")</button>
                </div>
                <div class="form-actions-section">
                    @if(!_isCreateMode)
                    {
                        <button type="button" class="btn btn-danger" @onclick="DeletePlayer">Delete Player</button>
                    }
                    <button type="button" class="btn btn-secondary" @onclick="ClearForm">Clear</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>