@page "/"
@page "/games"
@using Mercurius.LAN.Web.Extensions
@using Mercurius.LAN.Web.Models.Games
@using Mercurius.LAN.Web.Models
@using Mercurius.LAN.Web.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Mercurius.LAN.Web.Components.Shared
@using Microsoft.AspNetCore.Authorization
@inject IGameService GameService
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@rendermode InteractiveServer
<PageTitle>Games</PageTitle>

<div class="overview-header">
<h2>Games</h2>
</div>
<div class="search-bar-container">
    <input type="text" class="form-control search-bar-input" placeholder="Search by game title..." @bind="searchTerm" />
</div>

@if (_games == null)
{
    <LoadingScreen Message="Loading..." />
}
else
{
    <div class="card-deck">
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="card modern-add-game-card text-center" @onclick="OpenAddGameDialog">
                    <div class="card-body">
                        <i class="bi bi-plus-circle" style="font-size: 3rem; color: var(--accent-color);"></i>
                        <h5>Add New Game</h5>
                        <p>Click to create a new game</p>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>

        @foreach (var game in filteredGames)
        {
            <div class="card mb-3" style=" cursor:pointer;" @onclick="() => GoToGameDetail(game.Id)">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@game.PictureUrl" class="card-img" alt="@game.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@game.Name</h5>
                            <p class="card-text">
                                <span class="game-status @game.Status.GetStatusClass()">@game.Status.GetStatusLabel()</span>
                            </p>
                            <p class="card-text"><small>@game.BracketType.GetLabel()</small></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (isAddGameDialogOpen)
    {
        <AddGameDialog OnClose="CloseAddGameDialog" />
    }
}

@code {
    private List<Game> _games;
    private string searchTerm = string.Empty;
    private List<Game> filteredGames =>
        string.IsNullOrWhiteSpace(searchTerm)
            ? _games
            : _games?.Where(g => g.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList() ?? new List<Game>();

    private bool isAddGameDialogOpen = false;

    protected override async Task OnInitializedAsync()
    {
        _games = await GameService.GetGamesAsync();
        await InvokeAsync(StateHasChanged);
    }

    private void GoToGameDetail(int gameId)
    {
        NavigationManager.NavigateTo($"/games/{gameId}");
    }

    private void OpenAddGameDialog()
    {
        isAddGameDialogOpen = true;
    }

    private async void CloseAddGameDialog(GameExtended createdGame)
    {
        isAddGameDialogOpen = false;
        if (createdGame != null)
        {
            _games.Add(createdGame);
            await InvokeAsync(StateHasChanged);
        }
    }
}