@using Mercurius.LAN.Web.Models
@using Mercurius.LAN.Web.Models.Participants
@using Mercurius.LAN.Web.Models.Matches
@code {
    [Parameter] public IEnumerable<Placement> Placements { get; set; }
}

<div class="placements-container">
    @if (Placements == null || !Placements.Any())
    {
        <p>Geen resultaten gevonden.</p>
    }
    else
    {
        <div class="podium">
            @foreach (var placement in Placements.OrderBy(p => p.Place).Take(3))
            {
                <div class="podium-step @(placement.Place == 1 ? "gold" : placement.Place == 2 ? "silver" : "bronze")">
                    <div class="team-name">
                        @foreach (var participant in placement.Participants)
                        {
                            @switch (participant)
                            {
                                case Player player:
                                    @player.Username
                                    break;
                                case Team team:
                                    @team.Name
                                    break;
                                default:
                                    @participant.Id
                                    break;
                            }
                        }
                    </div>
                </div>
            }
        </div>
        <ol class="placements-list">
            @foreach (var placement in Placements.OrderBy(p => p.Place).Skip(3))
            {
                <li class="placement-item">
                    <span class="placement-title">Plaats @placement.Place:</span>
                    <ul class="participant-list">
                        @foreach (var participant in placement.Participants)
                        {
                            <li class="participant-item">
                                @switch (participant)
                                {
                                    case Player player:
                                        @player.Username
                                        break;
                                    case Team team:
                                        @team.Name
                                        break;
                                    default:
                                        @participant.Id
                                        break;
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ol>
    }
</div>
